@page "/person/edit/{PersonId:int}"
@inject IStringLocalizer<Resource> localizer

<h3>@localizer["editPersonHeader"]</h3>

@if (PersonItem != null)
{
    <PersonForm PersonItem="PersonItem" OnValidPersonSubmit="Edit" />
}