@page "/person/edit/{PersonId:int}"
@inject IStringLocalizer<Resource> localizer

<h3>@localizer["editPersonHeader"]</h3>

@if (personItem != null)
{
    <PersonForm PersonItem="personItem" OnValidPersonSubmit="Edit" />
}