@page "/genre/edit/{GenreId:int}"
@inject IStringLocalizer<Resource> localizer

<h3>@localizer["editGenreHeader"]</h3>

@if (genre != null)
{ 
    <GenreForm GenreItem="genre" OnValidGenreSubmit="Edit"/>
}