@page "/genres"

<h3>Genre View</h3>

<div class="form-group">
    <a class="btn btn-info" href="genre/create">New Genre</a>
</div>

<GenericList List="GenresList">
    <WholeListTemplate>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in GenresList)
                {
                    <tr>
                        <td>
                            <a class="btn btn-success" href="/genre/edit/@item.Id">Edit</a>
                            <button class="btn btn-danger" @onclick="@(() => DeleteGenre(item.Id))">Delete</button>
                        </td>
                        <td>@item.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </WholeListTemplate>
</GenericList>