@page "/movies/create"
@inject IStringLocalizer<Resource> localizer

<h3>@localizer["createMovieHeader"]</h3>

@if (NotSelectedGenre != null)
{
    <MovieForm MovieItem="MovieItem" OnValidMovieSubmit="SaveMovie" NotSelectedGenres="NotSelectedGenre" />
}