@page "/movies/create"
@inject IStringLocalizer<Resource> localizer

<h3>@localizer["createMovieHeader"]</h3>

@if (notSelectedGenre != null)
{
    <MovieForm MovieItem="movieItem" OnValidMovieSubmit="SaveMovie" NotSelectedGenres="notSelectedGenre" />
}