@page "/movies/edit/{MovieId:int}"

<h3>Edit Movie</h3>

@if (MovieItem != null)
{
    <MovieForm MovieItem="MovieItem" OnValidMovieSubmit="EditMovieItem" NotSelectedGenres="NotSelectedGenre" SelectedGenres="SelectedGenre" SelectedActors="SelectedActors" />
}