@page "/movies/edit/{MovieId:int}"
@inject IStringLocalizer<Resource> localizer

<h3>@localizer["editMovieHeader"]</h3>

@if (movieItem != null)
{
    <MovieForm MovieItem="movieItem" OnValidMovieSubmit="EditMovieItem" NotSelectedGenres="notSelectedGenre" SelectedGenres="selectedGenre" SelectedActors="SelectedActors" />
}