@page "/movies/edit/{MovieId:int}"
@inject IStringLocalizer<Resource> localizer

<h3>@localizer["editMovieHeader"]</h3>

@if (MovieItem != null)
{
    <MovieForm MovieItem="MovieItem" OnValidMovieSubmit="EditMovieItem" NotSelectedGenres="NotSelectedGenre" SelectedGenres="SelectedGenre" SelectedActors="SelectedActors" />
}