@page "/"
@page "/index"
@inject IStringLocalizer<Resource> localizer

<div>
    <h3>@localizer["inTheaters"]</h3>
    <MovieList Movies="inTheaters" />
</div>

<div>
    <h3>@localizer["upcomingRelease"]</h3>
    <MovieList Movies="upcomingReleases" />
</div>

<CustomTypeahead SearchMethod="SearchMethod">
    <ResultTemplate>
        @context
    </ResultTemplate>
</CustomTypeahead>