@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <LoginLinks />
    </div>

    <div class="content px-4" style="margin-bottom: 20px;">
            @Body
    </div>
</div>
