@typeparam TItem
@inject IStringLocalizer<Resource> localizer

@if (List == null)
{
    if (NullTemplate != null)
    {
        @NullTemplate
    }
    else
    {
        <h3>@localizer["listError"]</h3>
    }
}
else if (List.Count == 0)
{
    if (EmptyCountTemplate != null)
    {
        @EmptyCountTemplate
    }
    else
    {
        <h3>@localizer["listEmpty"]</h3>
    }
}
else
{
    @if (ElementTemplate != null)
    {
        @foreach (var item in List)
        {
            @ElementTemplate(item);
        }
    }
    else
    {
        @WholeListTemplate
    }
}