@inject IStringLocalizer<Resource> localizer

<EditForm Model="GenreItem" OnValidSubmit="OnValidGenreSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>@localizer["name"]:</label>
        <div>
            <InputText class="form-control" @bind-Value="GenreItem.Name" />
            <ValidationMessage For="@(() => GenreItem.Name)" />
        </div>
    </div>

    <button class="btn btn-success" type="submit">@localizer["saveChanges"]</button>
</EditForm>