<div>
    <label>@Label</label>
    <div>
        <InputFile accept=".jpg,.jpeg,.png" OnChange="ImageFileSelected"  />
    </div>
</div>
<div>
    @if (imageBase64 != null)
    {
        <div>
            <div style="margin:10px">
               <img src="data:image/jpeg;base64, @imageBase64" style="width: 400px;" /> 
            </div>
        </div>
    }

    @if (ImageURL != null)
    {
        <div>
            <div style="margin:10px">
               <img src="@ImageURL" style="width: 400px;" /> 
            </div>
        </div>
    }
</div>