<div class="movies-container">
    <GenericList List="Movies">
        <ElementTemplate Context="movie">
            <IndividualMovie movie="movie" DeleteMovie="DeleteMovie" @key="movie.Id" />
        </ElementTemplate>
    </GenericList>
</div>