<Router AppAssembly="@typeof(Program).Assembly"
        AdditionalAssemblies="new[] { typeof(BlazorMovies.Components.Pages.Index).Assembly }">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <Authorizing>
                <text>Custom Authorizing...</text>
            </Authorizing>
            <NotAuthorized>
                <text>Custom not Authorized</text>
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </CascadingAuthenticationState>      
    </NotFound>
</Router>
