@inject IJSRuntime js

<div class="movies-container">
    <GenericList List="Movies">
        <ElementTemplate>
            <IndividualMovie movie="context" DeleteMovie="DeleteMovie" />
        </ElementTemplate>
    </GenericList>
</div>