@inject IJSRuntime js

<div class="movies-container">
    <GenericList List="Movies">
        <ElementTemplate>
            <IndividualMovie movie="context" DeleteMovie="DeleteMovie" />
        </ElementTemplate>
    </GenericList>
</div>

@code {
    [Parameter]
    public List<Movie> Movies { get; set; }

    private async Task DeleteMovie(Movie movie)
    {

        await js.MyFunction("Requested Movie delete");

        var result = await js.Confirm($"Are you sure you want to delete {movie.Title}?");

        if (result)
        {
            Movies.Remove(movie);
        }
    }
}
