@page "/"
@inject IRepository repository

<div>
    <h3>Movie</h3>
    <MovieList Movies="movies" />
</div>

@code {

    private List<Movie> movies;

    protected override void OnInitialized()
    {
        movies = repository.GetMovies();
    }
}
